@font-face {
	font-family: "sweetsdelight";
	src: url("sweetsdelightdemo.otf");
}
@font-face {
	font-family: "PoetsenOne_Regular";
	src: url("PoetsenOne_Regular.ttf");
}


@font-face {
	font-family: "Birds_of_Paradise";
	src: url("Birds_of_Paradise.ttf");
}

@font-face {
	font-family: "Je_n'aime_pas_le_lundi";
	src: url("Je_n'aime_pas_le_lundi.ttf");
}

@font-face {
	font-family: "CaviarDreams";
	src: url("CaviarDreams.ttf");
}




/* header */


header {
	background-color: #579C87;
	font-size: 2em;
	color: #FCCA46;
	display: flex;
	justify-content: center;
	font-family: arial;
	margin-bottom: 10px;
}


/* body */

a:link {
	text-decoration: none;
}

body {
	margin: 0;
}

/* footer */

footer {
	background-color: #579C87;
	font-size: 1.5em;
	display: flex;
	justify-content: space-between;
	color: #FCCA46;
	align-items: center;
	height: 80px;
	width: 100%;
	position: fixed;
	bottom: 0;

}

#mentions {
	margin-left: 10px;
	color: #FCCA46;
}

#mail {
	margin-right: 10px;
	color: #FCCA46;
}

#mentions:hover , #mail:hover {
  animation: wiggle 0.82s cubic-bezier(.36,.07,.19,.97);
  transform: translate3d(0, 0, 0);
}

@keyframes wiggle {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.prochainement p {
	display: flex;
	justify-content: center;
	background-color: #579C87;
	color: #FCCA46;
	border-radius: 10px;
	width: 300px;
	height: 50px;
	font-size: 2em;
}

.prochainement {
	display: flex;
	justify-content: center;
}

/* les 4 menus */

#menu {
	display: flex;
	flex-direction: column;
}
.catégories:after {
	content: ' ';
	display: block;
	width: 0%;
	height: 3px;
	transition: 0.25s cubic-bezier(0.72,-0.01, 0.19, 0.92);
	background-color: black;
}

.catégories:hover:after {
	width: 100%;
}

.menu_1 {
	background-color: #FCDFDB;
	color: #3C1218;
}


.menu_1 h2 {
	font-size: 1em;
	font-family: Segoe Script;
}

.menu_1 div {
	font-family: Comic Sans MS;
	text-transform: uppercase;
}

.menu_texte {
	transform: scale(1);
	transition-property: transform;
	transition-duration: 1000ms;
}

.menu_texte:hover {
	transform: scale(1.15);
	opacity: 0.8;
}



.menu_2 {
	background-color: #FCF5FE;
}

.menu_2 h2 , .conteneur_menu_2 h1 {
	background: linear-gradient(to right, #D8852E, #6E4CCC);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: "Birds_of_Paradise" , arial;
}

.menu_2 h2 {
	font-size: 1.5em;
}

.menu_2 div {
	color: #C77412;
	font-family: arial;
	font-weight: bold;
	font-size: 1em;
}



.menu_3 {
	background-color: #F9F9F9;
}

.menu_3 h2 , .conteneur_menu_3 h1 {
	background: linear-gradient(to right, #0431DF, #0A88FB);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: "sweetsdelight" , arial;
    font-size: 2em;
}

.menu_3 h2 {
	font-size: 1.7em;
}

.menu_3 div {
	color: #168DFA;
	font-family: "PoetsenOne_Regular" , arial;
	font-size: 1em;
}


.menu_4 {
	background-color: #FDFFFD;

}

.menu_4 h2 , .conteneur_menu_4 h1 {
	background: linear-gradient(to right, #3D9339, #BFFF7E);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: "Je_n'aime_pas_le_lundi" , arial;
    font-size: 4em;
}

.menu_4 h2 {
	font-size: 3.5em;
}

.menu_4 div {
	color: #72BF56;
	font-family: "PoetsenOne_Regular" , arial;
	font-size: 1em;
}


#menu_haut ,#menu_bas {
	display: flex;
	justify-content: center;
	margin: 20px;
	height: 400px;
}

#menu_haut section ,#menu_bas section {
	height: 100%;
}

.menu_objet {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 250px;
	margin-left: 20px;
	margin-right: 20px;
	box-shadow: 0 0 10px grey;
}

.prochainement {
	margin-bottom: 80px;
}


.section_menu {
	padding-left: 0;
}

.section_menu li {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

h1 {
	text-align: center;
}

.conteneur_menu {
	max-width: 800px;
	padding: 60px;
	margin: 0 auto;
	margin-bottom: 150px;
	text-align: center;
}
 /* page menu 1 */
.conteneur_menu_1 {
	background-color: #FCDFDB;
}

.conteneur_menu_1 h1 {
	font-family: Segoe Script;
}

.conteneur_menu_1 h2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.conteneur_menu_1 section {
	font-family: "CaviarDreams" , arial;
}

.conteneur_menu_1 h2 img {
	max-height: 15px;
}

/*page menu 2*/
.conteneur_menu_2 {
	background-color: #FFF5FE;
}

.conteneur_menu_2 section {
	font-family: "CaviarDreams" , arial;
}

.conteneur_menu_2 h2 {
	margin-top: 75px;
	display: flex;
	justify-content: space-between;
}

.conteneur_menu_2 li {
	margin-left: 50px;
	margin-right: 50px;
}

.conteneur_menu_2 h1 {
	margin-bottom: 100px;
}

.menu_2_entrées {
	color: #C67412;
}

.menu_2_plats {
	color: #A56799;
}

.menu_2_desserts {
	color: #6E4CCC;
}


/* page menu 3 */

.conteneur_menu_3 {
	background-color: #EDEFEF;
}

.conteneur_menu_3 h2 {
	display: flex;
	justify-content: space-between;
	margin-top: 75px;
}

.conteneur_menu_3 li {
	margin-left: 50px;
	margin-right: 50px;
}

.conteneur_menu_3 h1 {
	margin-bottom: 100px;
}

/* page menu 4 */

.conteneur_menu_4 h2 {
	display: flex;
	justify-content: space-between;
	margin-top: 75px;
}

.conteneur_menu_4 li {
	margin-left: 50px;
	margin-right: 50px;
}

.conteneur_menu_4 h1 {
	margin-bottom: 100px;
}


.icone {
	font-size: 3em;
	color: #FF5733;
}

.point_1 , .point_2 , .point_3 {
	font-size: 0.6em;
	margin-left: 11px;
	margin-top: 11px;
}

.point_1 {
	animation-name: opacity;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
}

.point_2 {
	animation-name: opacity;
	animation-duration: 2.5s;
	animation-delay: 1s;
	animation-iteration-count: infinite;
}

.point_3 {
	animation-name: opacity;
	animation-duration: 2.5s;
	animation-delay: 2s;
	animation-iteration-count: infinite;
}

@keyframes opacity {
	0% { opacity: 1 }

	100% {opacity: 0}

}


/* médias queries */

@media ( max-width: 550px)
{
	#menu {
		display: flex;
		flex-direction: column;
		text-align: -webkit-center;
	}

	#menu_haut , #menu_bas {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		margin: 0px;
		height: 400px;
	}

	.conteneur_menu_1 h2 , .conteneur_menu_2 h2 , .conteneur_menu_3 h2 , .conteneur_menu_4 h2 {
		display: flex;
		justify-content: center;
	}

	.conteneur_menu {
		padding: 0px;
	}


	h2 img {
		display: none;
	}
}
